@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">به  دفترچه تلفن آنلاین خوش آمدید</h1>
    <a href="../phoenBook/Index">برای اضاف کردن شماره تلفن خود روی لینک زیر کلیک کنید</a>
   
</div>
